header {
  height: 20vh;
  position: absolute;
  width: 100%;


  .menu-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    left: 20px;

    img {
      &#menu-logo {
        margin: 0 auto;
        width: 40px;
      }

      &#menu-icon {
        width: 22px;
        margin: 10px;
      }
    }
  }

  .main-logo-container{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 30vw;
    }
  }
}
