<section class="why-us-section">

  <div class="social-icons">
    <app-whatsapp-icon class="icon" size="40px"></app-whatsapp-icon>
    <app-facebook-icon class="icon" size="40px"></app-facebook-icon>
    <app-share-icon class="icon" size="40px"></app-share-icon>
  </div>

  <h3>WHY US</h3>

  <p>The Creative Oracle understands both your business & design needs. We are specialised in helping businesses achieve their business goals through visual strategies.</p>

  <ul>
    <li>We are both a design & business consultant agency, thus we create graphics strategically to boost your business.</li>
    <li>We have over 2 decades of experience working with businesses of various sizes, from start-ups to MNC.</li>
    <li>We provide a project management platform for you to track your progress with ease.</li>
    <li>We offer services that caters to all budgets.</li>
  </ul>

</section>
