<div class="home-section">
  <div class="home-content">
    <div class="home-left-section">
      <svg height="15" width="inherit" id="div-shadow">
        <path d="M 00 15 q 200 -20 800 0" stroke="#b4c3d0" stroke-width="5" fill="white" />
      </svg>
      <p>
        Welcome to The Creative Oracle! We are creatives that are passionate about design & consultants that practice
        sound business & marketing principles. We are inspired by both beauty and wisdom, thus we go beyond creating
        attractive imagery to formulating strategic design that is effective for your business. Our company firmly
        believe in the design principle that form follows function & good design yeilds tangible results. Connect with
        us to get to know more about us.
      </p>
    </div>
    <div class="home-right-section">
      <img class="woman" src="assets/images/woman.png" alt="home-woman">
    </div>
  </div>
</div>

<app-why-us></app-why-us>
